@page "/registro-representante"

<h3>FormRepresentante</h3>

<EditForm Model="@representante" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary class="alert alert-danger" />

    <div class="mb-3">
        <label class="form-label">Numero de Empleado</label>
        <InputNumber @bind-Value="representante.Num_Empl" class="form-control" />
        <ValidationMessage For="@(() => representante.Num_Empl)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <InputText @bind-Value="representante.Nombre" class="form-control" />
        <ValidationMessage For="@(() => representante.Nombre)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Edad</label>
        <InputNumber @bind-Value="representante.Edad" class="form-control" />
        <ValidationMessage For="@(() => representante.Edad)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cargo</label>
        <InputText @bind-Value="representante.Cargo" class="form-control" />
        <ValidationMessage For="@(() => representante.Cargo)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha de Contrato</label>
        <InputDate @bind-Value="representante.FechaContrato" class="form-control" />
        <ValidationMessage For="@(() => representante.FechaContrato)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cuota</label>
        <InputNumber @bind-Value="representante.Cuota" class="form-control" />
        <ValidationMessage For="@(() => representante.Cuota)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Ventas</label>
        <InputNumber @bind-Value="representante.Ventas" class="form-control" />
        <ValidationMessage For="@(() => representante.Ventas)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Guardar</button>
</EditForm>

@code {
    private RepresentanteVentaCls representante = new();

    private void Guardar()
    {
        Console.WriteLine("Datos guardados correctamente:");
    }
}

